<main class="pb-3" role="main">

    <h2>World of Teen Patti (WoTP) : Common Rules</h2>

    <hr class="blackBorder" />
    <button class="collapsible">Principle of the game</button>
    <div class="content" height="150">
        <p>
            <h3> Rules are designed with the principle of fairness and to encourage higher participation amongst players</h3>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible">First Dealer </button>
    <div class="content" height="150">
        <p>
            <h3>First dealer will be selected by whoever gets the first Jack in an open card dealt hand</h3>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible">Stake Increments and Max Allowed</button>
    <div class="content" height=" 150">
        <p>
            <h3>The stakes can only be increased by the factor of 2. i.e. stakes can only be a subset of [1,2,4,8,16].</h3>
            <h3><strong>16</strong> is the maximum stake allowed</h3>
            <h4 style="margin-left: 40px">Stakes such as [3, 6, 7, 10, 12, 14, 18 ...] etc are <strong>NOT</strong> allowed</h4>
            <h4 style="margin-left: 40px">Maximum stake <strong>16</strong> can only be repeated maximum three times</h4>
            <h4 style="margin-left: 40px">After the maximum stake (=16) AND maximum round (=3) is played out, the outcome will be decided by ALL show of hands</h4>
            <h5 style="margin-left: 80px">If there is a clear winner, he/she takes the winnings; If the hands are equal, the stake will be shared;</h5>
            <h4 style="margin-left: 40px">Adding <strong>CASH</strong> into the running stake is <strong>NOT</strong> permitted</h4>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible">Blind Stake</button>
    <div class="content" height="150">
        <p>
            <h3>Only 3 rounds of blind play is permitted.</h3>
            <h4 style="margin-left: 40px">In the first round, blind stake can only be increased up-to a maximum of <strong>4</strong></h4>
            <h4 style="margin-left: 40px">With only two players remaining, blind show is <strong>permitted</strong>.</h4>
            <h4 style="margin-left: 80px">Player playing blind has to add <strong>only</strong> the blind stake into the kitty</h4>
            <h4 style="margin-left: 40px">Maximum blind stake allowed = <strong>8</strong></h4>
        </p>
    </div>

    <hr class="blackBorder" />
    <div class="pagebreak"></div>
    <button class="collapsible">Back Show/Front Show</button>
    <div class="content" height="150">
        <p>
            <h3>No Back show allowed till the first round is completed</h3>
            <h4 style="margin-left: 40px">Back show is permitted by adding the current running stake in the kitty</h4>
            <h4 style="margin-left: 40px">Back show cannot jump across any previous player who is playing blind</h4>
            <h4 style="margin-left: 40px">Front show permitted by adding double the current stake in the kitty. i.e if the current stake is <strong>4</strong>, player has to add <strong>8</strong> into the kitty</h4>
            <h4 style="margin-left: 40px">One player can undertake only one back-show in one round. </h4>
            <h4 style="margin-left: 80px">Other active players, who have not participated in a blind show for the current round, are still eligible </h4>
        </p>
    </div>

    <hr class="blackBorder" />
    <div class="pagebreak"></div>
    <button class="collapsible">Both Hands Equal</button>
    <div class="content" height="150">
        <p>
            <h3>When all the cards are of the same value between the two players, the one asking for the show will lose</h3>
            <h4 style="margin-left: 40px">This applies for back-show, front-show as well. </h4>
            <h4 style="margin-left: 40px">Exception to this rule is when max stake has been repeated for three times </h4>
        </p>
    </div>

    <hr class="blackBorder" />
    <div class="pagebreak"></div>
    <button class="collapsible">Prize Money For Getting A Trail</button>
    <div class="content">
        <p>
            <h3>In a <strong>normal 3-card dealt hand</strong>, player holding an Ace-Trail earns <strong>25% of the deposit from every other player </strong></h3>
            <h4 style="margin-left: 40px">All other trio's earn <strong>20% of the deposit from every other player </strong> </h4>
            <h4 style="margin-left: 40px">Winnings will apply only to the normal 3-card dealt hand. i.e. when 4 cards are dealt, getting a trails or even a four of a kind, this rule does not apply</h4>
            <h4 style="margin-left: 40px">All other trio's earn <strong>20% of the deposit from every other player </strong> </h4>
            <h5 style="margin-left: 80px">If this condition is applied to more than one player, each winning player get the winning from all others </h5>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible">Asking for a show/no-show:</button>
    <div class="content">
        <p>
        <h3>When last two active players are in the fray, one of them can ask for a show by adding the current stake in the kitty and declaring 'show'</h3>
        <h4 style="margin-left: 40px">The player who has been asked to show has to show all his cards to the table</h4>
        <h4 style="margin-left: 40px">The player who has asked for the show <strong>does not </strong> need to show his card to the table if he believes he has <strong>lost</strong> the round.</h4>
        <h4 style="margin-left: 80px">The player who has asked for the show <strong>does</strong> need to show his card to the table if he believes he has <strong>won</strong> the round.</h4>
        <h4 style="margin-left: 40px">If there is a <strong>no-show</strong> at the end of the round, the <strong>current dealt template</strong> has to be <strong>repeated.</strong></h4>
        </p>
    </div>

</main>

