<hr class="blackBorder" />
<button class="collapsible"> 0. Hierarchy Rule : Ace > King > Queen >>> 2 </button>
<div class="content" height="150">
    <canvas id="canvasTrioFirst" width="150" style="border: 1px solid black">1,2,3</canvas>
    <canvas id="canvasSecond" width="30">70</canvas>
    <canvas id="canvasThird" width="150" style="border: 1px solid black">5,6,7,8</canvas>
    <canvas id="canvasFouth" width="150" style="border: 1px solid black">60,61,62,63,64</canvas>
</div>
<hr class="blackBorder" />
<button class="collapsible"> 0. Hierarchy Rule : Ace > King > Queen >>> 2 </button>
<div class="content" height="150">
    <canvas id="canvasTrioFirst" width="150" style="border: 1px solid black">4,5,6</canvas>
    <canvas id="canvasSecond" width="30">70</canvas>
    <canvas id="canvasThird" width="150" style="border: 1px solid black">23,24,25,26</canvas>
    <canvas id="canvasFouth" width="150" style="border: 1px solid black">60,61,62,63,64</canvas>
</div>


