<!-- ko with: home -->
<div class="text-center">
    <h1 class="display-4">Welcome to the World of Teen Patti (WTP)</h1>
</div>

<div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-4 center">
        <h2>Project Overview</h2>
        <p>
            Web container for Teen Patti Rules and Scenarios.
        </p>
        <p>
            This simple project has few aspects -
        </p>
        <p>
            <code> Common Rules </code> - so we don't have to repeat it ever again !!!
        </p>
        <p>
            <code> Teen Patti Rules </code> - Hierarchy of rules from Trail --> Pure Seq --> Impure Seq ... etc !!!
        </p>
        <p>
            and the last part of the project is an ever expanding answers to  <code> All scenarios including Jokers! </code>
        </p>
        <p>
            The basic premise is that for the first version we'd only go with the 1-deck rules. 
        </p>
        <p>
            In the next version, multi-deck rules and scenarios would be added. 
        </p>
        <p>
            The scenrios database is currently kept as flat files, and would be
            expanded in the later versions
        </p>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-2 center" style="padding: 200px 0;">
        <div class="cubespinner">
            <div class="face1"><img width="120" height="120" alt="SRC" src="~/images/10_of_clubs.svg"></div>
            <div class="face2"><img width="120" height="120" alt="SRC" src="~/images/5_of_diamonds.svg"></div>
            <div class="face3"><img width="120" height="120" alt="SRC" src="~/images/ace_of_spades.svg"></div>
            <div class="face4"><img width="120" height="120" alt="SRC" src="~/images/king_of_hearts.svg"></div>
            <div class="face5"><img width="120" height="120" alt="SRC" src="~/images/9_of_diamonds.svg"></div>
            <div class="face6"><img width="120" height="120" alt="SRC" src="~/images/red_joker.svg"></div>
        </div>
    </div>
</div>

@*<div class="jumbotron">
    <h1>Teen Patti Rules</h1>
    <p class="lead">After soul searching and screaming amongst friends, yours truly has decided to put all the rules of Teen Patti in one place. Hope the shouting and screaming will stop now!!! :-)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Rules</h2>
        <p>This section shows the all the rules that are applicable for Teen Patti.</p>
        <p data-bind="text: myHometown"></p>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Scenarios</h2>
        <p>
            This section allows you to depict various scenarions and add the accepted solution to the mix. Allows for self learning
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Design and Architecture</h2>
        <p>If you want to understand the implementation architecture, this section provides all the details .</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<!-- /ko -->
