<main class="pb-3" role="main">

    <h2>World of Teen Patti (WoTP) Rules </h2>

    <hr class="blackBorder" />
    <button class="collapsible">Common Rules </button>
    <div class="content" height="150">
        <p>
            <h3> Rules are designed with the principle of fairness and to encourage higher participation amongst players</h3>
            <ul>
                <li>
                    <h3><strong>First Dealer: </strong>First dealer will be selected by whoever gets the first Jack in an open card dealt hand</h3>
                </li>
                <li>
                    <h3><strong>Stake Increments: </strong>The stakes can be increased by the factor of 2. i.e. stakes can only be a subset of [1,2,4,8,16,32,64].</h3>
                    <h4 style="margin-left: 40px"><strong>64</strong> is the maximum stake allowed</h4>
                    <h4 style="margin-left: 40px">Stakes such as [3, 6, 7, 10, 12, 14, 18 ...] etc are <strong>NOT</strong> allowed</h4>
                </li>
                <li>
                    <h3><strong>Blind Stakes: </strong> Only 3 rounds of blind play is permitted.</h3>
                    <h4 style="margin-left: 40px">In the first round, blind stake can only be increased up-to a maximum of <strong>4</strong></h4>
                    <h4 style="margin-left: 40px">With only two players remaining, blind show is <strong>permitted</strong>.</h4>
                    <h4 style="margin-left: 80px">Player playing blind has to add <strong>only</strong> the blind stake into the kitty</h4>
                    <h4 style="margin-left: 40px">Maximum blind stake allowed = <strong>16</strong></h4>
                </li>
                <li>
                    <h3><strong>Back Show: </strong>No Back show allowed till the first round is completed</h3>
                    <h4 style="margin-left: 40px">Back show is permitted by adding the current running stake in the kitty</h4>
                    <h4 style="margin-left: 40px">Back show cannot jump across any previous player who is playing blind</h4>
                    <h4 style="margin-left: 40px">Front show permitted by adding double the current stake in the kitty. i.e if the current stake is <strong>4</strong>, player has to add <strong>8</strong> into the kitty</h4>
                    <h4 style="margin-left: 40px">One player can undertake only one back-show in one round. </h4>
                    <h5 style="margin-left: 80px">Other active players, who have not participated in a blind show for the current round, are still eligible </h5>
                </li>
                <li>
                    <h3><strong>Both hands equal: </strong>When all the cards are of the same value between the two players, the one asking the show will lose</h3>
                    <h4 style="margin-left: 40px">This applies for back-show, front-show as well. </h4>
                </li>
                <li>
                    <h3><strong>Trail winnings: </strong>In a <strong>normal 3-card dealt hand</strong>, player holding an Ace-Trail earns <strong>25% of the deposit from every other player </strong></h3>
                    <h4 style="margin-left: 40px">All other trio's earn <strong>20% of the deposit from every other player </strong> </h4>
                    <h4 style="margin-left: 40px">Winnings will apply only to the normal 3-card dealt hand. i.e. when 4 cards are dealt, getting a trails or even a four of a kind, rule does not apply</h4>
                </li>
            </ul>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible"> 0. Hierarchy Rule : Ace > King > Queen >>> 2 </button>
    <div class="content" height="150">
        <p>
        <p>
            <canvas width="120">1</canvas>
            <canvas width="45">72</canvas>
            <canvas width="120">3</canvas>
            <canvas width="30">70</canvas>
            <canvas width="120">5</canvas>
            <canvas width="45">72</canvas>
            <canvas width="120">8</canvas>
            <canvas width="70">71</canvas>
            <canvas width="120">49</canvas>
            <canvas width="45">72</canvas>
            <canvas width="120">52</canvas>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible"> 1. Trio Rule : Ace > King > Queen > ... > Three > Two  </button>
    <div class="content" height=" 150">
        <p>
            <canvas width="150">1,2,3</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">5,6,7</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">9,10,11</canvas>
            <canvas width="70">71</canvas>
            <canvas width="150">45,47,48</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">50,51,52</canvas>
            <h6><strong>Secondary Rule</strong></h6>
            <h7>In a normal 3-card dealt hand, player holding an Ace-Trio earns <strong>25% of the deposit from every other player </strong></h7>
            <h7>All other trio's earn <strong>20% of the deposit from every other player </strong> </h7>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible"> 2. Pure Sequence Rule : [AKQ] > [A23] > [KQJ] > ... > [532] > [432] </button>
    <div class="content" height="150">
        <p>
            <canvas width="150">1,5,9</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">2,6,10</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">3,7,11</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">4,8,12</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">1,49,45</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">2,50,46</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">3,51,47</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">4,52,48</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">5,9,13</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">6,10,14</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">7,11,15</canvas>
            <canvas width="30">70</canvas>
            <canvas width="100">71</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">42,46,50</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">43,47,51</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">44,48,52</canvas>
        </p>
        <div>
            <hr class="blackdashedborder" />
        </div>
        <p>
            <h6>Following is <strong>NOT</strong> a pure sequence</h6>
            <canvas width="150">51,3,7</canvas>
        </p>
    </div>

    <hr class="blackBorder" />
    <div class="pagebreak"></div>
    <button class="collapsible"> 3. Impure Sequence Rule : [AKQ] > [A23] > [KQJ] > ... > [532] > [432] </button>
    <div class="content" height="150">
        <p>
            <canvas width="150">1,7,12</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">4,50,47</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">7,12,15</canvas>
            <canvas width="30">70</canvas>
            <canvas width="70">71</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">39,43,45</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">44,47,52</canvas>
        </p>
        <h6> When two hands are equal, the player asking for the show <strong>loses</strong></h6>
        <canvas width="150">1,7,12</canvas>
        <canvas width="30">72</canvas>
        <canvas width="150">2,5,9</canvas>
        </p>
        <h6> similarly</h6>
        <canvas width="150">23,28,30</canvas>
        <canvas width="30">72</canvas>
        <canvas width="150">24,26,29</canvas>
        </p>
        <p>
            <h6>Following is <strong>NOT</strong> an impure pure sequence</h6>
            <canvas width="150">51,1,7</canvas>
        </p>
    </div>

    <hr class="blackBorder" />
    <div class="pagebreak"></div>
    <button class="collapsible"> 4. All Same Colour : [A] > [K] > [Q] > ... > [3] > [2] </button>
    <div class="content" height="150">
        <h5><strong> Highest card wins</strong></h5>
        <p>
            <canvas width="150">2,6,14</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">1,21,49</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">7,11,19</canvas>
            <canvas width="30">70</canvas>
            <canvas width="70">71</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">36,40,48</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">33,45,49</canvas>
            <canvas width="30">72</canvas>
            <canvas width="150">35,47,51</canvas>
        </p>

        <h5><strong>Pay attention to the first and the last examples</strong></h5>
        <h6> When two hands are equal, the player asking for the show <strong>loses</strong></h6>
    </div>

    <hr class="blackBorder" />
    <div class="pagebreak"></div>
    <button class="collapsible"> 5. Pair : [A] > [K] > [Q] > ... > [3] > [2] </button>
    <div class="content">
        <h5><strong>Strongest third card wins</strong>. </h5>
        <p>
            <h6>When deciding the winner, IF the pairs are at the same rank, player holding the highest third card wins </h6>
            <canvas width="150">2,3,5</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">1,4,52</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">1,5,6</canvas>
        <p></p>
        <h6>When all the cards are of equal value, the one asking the show loses</h6>
        <canvas width="150">1,6,7</canvas>
        <canvas width="30">72</canvas>
        <canvas width="150">2,5,8</canvas>
        <p></p>
        <h6>Similarly.</h6>
        <canvas width="150">1,50,51</canvas>
        <canvas width="30">72</canvas>
        <canvas width="150">2,49,52</canvas>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible"> 6. Highest Card Wins : [A] > [K] > [Q] > ... > [3] > [2] </button>
    <div class="content">
        <p>
        </p>
        <h6> Rule 0 applies</h6>
        </p>
    </div>

    <hr class="blackBorder" />
    <div class="pagebreak"></div>
    <button class="collapsible"> Muflish round, lowest card wins : [2] > [3] > [4] > ... > [K] > [A] </button>
    <div class="content" height="150">
        <h4><strong>Lowest cards wins</strong>. </h4>
        <h5>If the highest card is in the same rank with both hands, then the second highest card is compared. The one with higher level loses</h5>
        <h5>If the highest card and second highest card is at the same rank with both hands, then the third highest card is compared. The one with higher level loses. </h5>
        <canvas width="150">39,46,51</canvas>
        <canvas width="30">70</canvas>
        <canvas width="150">40,43,52</canvas>
        <canvas width="30">70</canvas>
        <canvas width="150">34,39,46</canvas>
        <canvas width="30">70</canvas>
        <canvas width="70">71</canvas>
        <canvas width="30">70</canvas>
        <canvas width="150">22,23,40</canvas>
        <canvas width="30">70</canvas>
        <canvas width="150">28,36,40</canvas>
        <canvas width="30">70</canvas>
        <canvas width="150">42,47,52</canvas>
    </div>
</main>

