<main class="pb-3" role="main">

    <h2>World of Teen Patti (WoTP) Joker Scenarios </h2>

    <hr class="blackBorder" />
    <button class="collapsible">5 Card - One/Two/Three Jokers</button>
    <div class="content" height="150">
        <p>
            <h3> 5 Cards are dealt and either 2 joker combinations (sequence/alternate) or 3 jokers in a hand</h3>
        </p>
        <p>
            <canvas width="150">49,50,51,62,63</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">9,10,60,61,62</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">4,60,61,60,61</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">60,61,60,63,64</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">3,7,11,62,63</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">52,48,44,62,63</canvas>
            <ul>
                <li> <h4>Trail defeats Pure Sequence defeats Impure Sequence defeats All Colour defeats Pair with or without Joker</h4></li>
                <li>
                    <h4>Trail <strong>in hand </strong> defeats a trail created with joker(s)</h4>
                    <h5 style="margin-left: 40px">A trail of <strong>2</strong> in hand defeats <strong>queen</strong> trail with a joker</h5>
                </li>
                @*<li>
                    <h4>Trail created by all three jokers <strong>defeats</strong> any other trail created with a comibnation of one or two jokers </h4>
                </li>*@
                <li>
                    <h4>Trail created with two of a kind in hand and a joker defeats a trail created with two jokers</h4>
                    <h5 style="margin-left: 40px">Queen trail with two queen's in hand and <strong>one joker</strong> defeats an Ace trails with <strong>two jokers</strong></h5>
                </li>
            </ul>
        </p>
        <hr />
        <p>
            <canvas width="150">52,48,44,62,63</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">11,19,60,61,64</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">1,6,60,61,62</canvas>
            <ul>
                <li>
                    <h4>Sequence <strong>in hand </strong> defeats a sequence created with joker(s)</h4>
                    <h5 style="margin-left: 40px">A sequence of <strong>pure 2-3-4</strong> in hand defeats <strong>pure Q-J-10</strong> sequence made with a joker</h5>
                </li>
                <li>
                    <h4>Pure sequence created with joker defeats impure sequence created with joker</h4>
                    <h5 style="margin-left: 40px"><strong>Pure sequence </strong>of Q-Joker-10 defeats an <strong>impure sequence</strong>of A-K-Joker</h5>
                </li>
            </ul>
        </p>
    </div>

    <hr class="blackBorder" />
    <button class="collapsible">4 Card - One/Two/Three Jokers in a hand</button>
    <div class="content" height="150">
        <p>
            <h3> 4 Cards are dealt and either one/two/three cards are joker</h3>
        </p>
        <p>
            <canvas width="150">49,50,51,62</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">9,10,61,64</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">1,60,61,62</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">60,61,60,63</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">4,8,12,63</canvas>
            <ul>
                <li> <h4>Trail defeats Pure Sequence defeats Impure Sequence defeats All Colour defeats Pair with or without Joker</h4></li>
                <li>
                    <h4>Trail <strong>in hand </strong> defeats a trail created with joker(s)</h4>
                    <h5 style="margin-left: 40px">A trail of <strong>2</strong> in hand defeats <strong>queen</strong> trail with a joker</h5>
                </li>
                <li>
                    <h4>Trail created with two of a kind in hand and a joker defeats a trail created with two jokers</h4>
                    <h5 style="margin-left: 40px">Queen trail with two queen's in hand and <strong>one joker</strong> defeats an Ace trails with <strong>two jokers</strong></h5>
                </li>
            </ul>
        </p>
        <hr />
        <p>
            <canvas width="150">52,48,44,62</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">11,19,60,64</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">9,18,60,62</canvas>
            <ul>
                <li>
                    <h4>Sequence <strong>in hand </strong> defeats a sequence created with joker(s)</h4>
                    <h5 style="margin-left: 40px">A sequence of <strong>pure 2-3-4</strong> in hand defeats <strong>pure Q-J-10</strong> sequence made with a joker</h5>
                </li>
                <li>
                    <h4>Pure sequence created with joker defeats impure sequence created with joker</h4>
                    <h5 style="margin-left: 40px"><strong>Pure sequence </strong>of Q-Joker-10 defeats an <strong>impure sequence</strong>of A-K-Joker</h5>
                </li>
            </ul>
        </p>

    </div>

    <hr class="blackBorder" />
    <button class="collapsible">3 Card - One/Two/Three Jokers</button>
    <div class="content" height="150">
        <p>
            <h3>3 Cards are dealt and either one/two/three cards are joker</h3>
        </p>
        <p>
            <canvas width="150">49,50,51</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">9,10,61</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">1,60,61</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">60,61,60</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">4,8,12</canvas>
            <ul>
                <li> <h4>Trail defeats Pure Sequence defeats Impure Sequence defeats All Colour defeats Pair with or without Joker</h4></li>
                <li>
                    <h4>Trail <strong>in hand </strong> defeats a trail created with joker(s)</h4>
                    <h5 style="margin-left: 40px">A trail of <strong>2</strong> in hand defeats <strong>queen</strong> trail with a joker</h5>
                </li>
                <li>
                    <h4>Trail created with two of a kind in hand and a joker defeats a trail created with two jokers</h4>
                    <h5 style="margin-left: 40px">Queen trail with two queen's in hand and <strong>one joker</strong> defeats an Ace trails with <strong>two jokers</strong></h5>
                </li>
            </ul>
        </p>
        <hr />
        <p>
            <canvas width="150">4,8,12</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">52,48,44</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">23,27,60</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">21,27,60</canvas>
            <canvas width="30">70</canvas>
            <canvas width="150">4,16,61</canvas>
            <ul>
                <li>
                    <h4>Sequence <strong>in hand </strong> defeats a sequence created with joker(s)</h4>
                    <h5 style="margin-left: 40px">A sequence of <strong>pure 2-3-4</strong> in hand defeats <strong>pure 10-9-8</strong> sequence made with a joker</h5>
                </li>
                <li>
                    <h4>Pure sequence created with joker defeats impure sequence created with joker</h4>
                    <h5 style="margin-left: 40px"><strong>Pure sequence </strong>of Joker-9-8 defeats an <strong>impure sequence</strong>of Joker-K-Q</h5>
                </li>
            </ul>
        </p>
    </div>
</main>


