@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @*<div style="position: absolute; top:-300px; left:-400px; height:150px; width:1500px; ">
        <img id="img_ace_of_spades" height="80" src="~/images/ace_of_spades.svg"></img>
        <img id="img_ace_of_diamonds" height="80" src="~/images/ace_of_diamonds.svg"></img>
        <img id="img_ace_of_clubs" height="80" src="~/images/ace_of_clubs.svg"></img>
        <img id="img_ace_of_hearts" height="80" src="~/images/ace_of_hearts.svg"></img>

        <img id="img_king_of_clubs" height="80" src="~/images/king_of_clubs.svg"></img>
        <img id="img_king_of_diamonds" height="80" src="~/images/king_of_diamonds.svg"></img>
        <img id="img_king_of_hearts" height="80" src="~/images/king_of_hearts.svg"></img>
        <img id="img_king_of_spades" height="80" src="~/images/king_of_spades.svg"></img>

        <img id="img_queen_of_clubs" height="80" src="~/images/queen_of_clubs.svg"></img>
        <img id="img_queen_of_diamonds" height="80" src="~/images/queen_of_diamonds.svg"></img>
        <img id="img_queen_of_hearts" height="80" src="~/images/queen_of_hearts.svg"></img>
        <img id="img_queen_of_spades" height="80" src="~/images/queen_of_spades.svg"></img>

        <img id="img_jack_of_clubs" height="80" src="~/images/jack_of_clubs.svg"></img>
        <img id="img_jack_of_diamonds" height="80" src="~/images/jack_of_diamonds.svg"></img>
        <img id="img_jack_of_hearts" height="80" src="~/images/jack_of_hearts.svg"></img>
        <img id="img_jack_of_spades" height="80" src="~/images/jack_of_spades.svg"></img>

        <img id="img_10_of_clubs" height="80" src="~/images/10_of_clubs.svg"></img>
        <img id="img_10_of_diamonds" height="80" src="~/images/10_of_diamonds.svg"></img>
        <img id="img_10_of_hearts" height="80" src="~/images/10_of_hearts.svg"></img>
        <img id="img_10_of_spades" height="80" src="~/images/10_of_spades.svg"></img>

        <img id="img_9_of_clubs" height="80" src="~/images/9_of_clubs.svg"></img>
        <img id="img_9_of_diamonds" height="80" src="~/images/9_of_diamonds.svg"></img>
        <img id="img_9_of_hearts" height="80" src="~/images/9_of_hearts.svg"></img>
        <img id="img_9_of_spades" height="80" src="~/images/9_of_spades.svg"></img>

        <img id="img_8_of_clubs" height="80" src="~/images/8_of_clubs.svg"></img>
        <img id="img_8_of_diamonds" height="80" src="~/images/8_of_diamonds.svg"></img>
        <img id="img_8_of_hearts" height="80" src="~/images/8_of_hearts.svg"></img>
        <img id="img_8_of_spades" height="80" src="~/images/8_of_spades.svg"></img>

        <img id="img_7_of_clubs" height="80" src="~/images/7_of_clubs.svg"></img>
        <img id="img_7_of_diamonds" height="80" src="~/images/7_of_diamonds.svg"></img>
        <img id="img_7_of_hearts" height="80" src="~/images/7_of_hearts.svg"></img>
        <img id="img_7_of_spades" height="80" src="~/images/7_of_spades.svg"></img>

        <img id="img_6_of_clubs" height="80" src="~/images/6_of_clubs.svg"></img>
        <img id="img_6_of_diamonds" height="80" src="~/images/6_of_diamonds.svg"></img>
        <img id="img_6_of_hearts" height="80" src="~/images/6_of_hearts.svg"></img>
        <img id="img_6_of_spades" height="80" src="~/images/6_of_spades.svg"></img>

        <img id="img_5_of_clubs" height="80" src="~/images/5_of_clubs.svg"></img>
        <img id="img_5_of_diamonds" height="80" src="~/images/5_of_diamonds.svg"></img>
        <img id="img_5_of_hearts" height="80" src="~/images/5_of_hearts.svg"></img>
        <img id="img_5_of_spades" height="80" src="~/images/5_of_spades.svg"></img>

        <img id="img_4_of_clubs" height="80" src="~/images/4_of_clubs.svg"></img>
        <img id="img_4_of_diamonds" height="80" src="~/images/4_of_diamonds.svg"></img>
        <img id="img_4_of_hearts" height="80" src="~/images/4_of_hearts.svg"></img>
        <img id="img_4_of_spades" height="80" src="~/images/4_of_spades.svg"></img>

        <img id="img_3_of_clubs" height="80" src="~/images/3_of_clubs.svg"></img>
        <img id="img_3_of_diamonds" height="80" src="~/images/3_of_diamonds.svg"></img>
        <img id="img_3_of_hearts" height="80" src="~/images/3_of_hearts.svg"></img>
        <img id="img_3_of_spades" height="80" src="~/images/3_of_spades.svg"></img>

        <img id="img_2_of_clubs" height="80" src="~/images/2_of_clubs.svg"></img>
        <img id="img_2_of_diamonds" height="80" src="~/images/2_of_diamonds.svg"></img>
        <img id="img_2_of_hearts" height="80" src="~/images/2_of_hearts.svg"></img>
        <img id="img_2_of_spades" height="80" src="~/images/2_of_spades.svg"></img>

        <img id="img_black_joker" height="80" src="~/images/black_joker.svg"></img>
        <img id="img_red_joker" height="80" src="~/images/red_joker.svg"></img>
        <img id="img_greater_than" height="80" src="~/images/GreaterThan.svg"></img>
        <img id="img_greater_than_than_than" height="80" src="~/images/GreaterThanThanThan.svg"></img>
    </div>*@

@section SPAViews {
    @Html.Partial("_Rules")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/imageJs")
}

@*<script>









</script>*@
